/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.questionDiv{
  max-width: 1200px;
  margin: 0px;
}

.question_cards_item .btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 48%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.question_cards_item .btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.questionCards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.question_cards_item {
  display: flex;
  padding: 1rem;
  /*margin: 0px 0px;*/
}

@media (min-width: 40rem) {
  .question_cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .question_cards_item {
    width: 100%;
  }
}

.questionCard {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
  width: 100%;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.card_options {
    margin-bottom: 1.25rem;
}

.card_options input[type=text] {
    width: 98%;
}

.card_options input[type=radio] {

}

textarea {
    resize: none;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}


.inner-container{
  border: 2px solid black;
  margin-left: 520px;
  margin-right: 520px;
  /* width: 1000px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}

.create{
  /* border: 2px solid black; */
}

.years,.branches,.subjects{
  width: 300px;
  height: 40px;
}
input{
  width: 300px;
  height: 40px;
}
