/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}


.question_cards_item{
  margin-right: 700px;
  /* border: 2px solid red; */

}

#question1TextArea{
  height: 200px;
  font-size: 20px;
  /* background-color: red; */
}

.questionDiv{
  max-width: 1200px;
  margin: 0px;
}


.question_cards_item .btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 48%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.question_cards_item .btn:hover {
  background-color: #ba68c8;
}

.questionCards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
}

.question_cards_item {
  display: flex;
  padding: 1rem;
  /*margin: 0px 0px;*/
}

@media (min-width: 40rem) {
  .question_cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .question_cards_item {
    width: 100%;
  }
}

.questionCard {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  /* margin-right: 500px; */
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #f48fb1 40%, #f8bbd0 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.card_options {
    margin-bottom: 1.25rem;
}

.card_options input[type=text] {
    width: 98%;
}

.card_options input[type=radio] {
  font-size: 30px;
}

textarea {
    resize: none;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}


.inner-container{
  /* border: 2px solid black; */
  margin-left: 700px;
  /* margin-right: 520px; */
  /* width: 1000px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 40px;
}

.create{
  /* border: 2px solid black; */
  font-size: 30px;
  color: #9c27b0;
}

.years,.branches,.subjects{
  width: 400px;
  height: 40px;
  font-size: 30px;
  border-radius: 9px;
  background-color: #dfe6e9;
}
input{
  width: 400px;
  height: 40px;
  font-size: 30px;
  border-radius: 10px;
  background-color: #dfe6e9;
  /* text-align: center; */
}

input[name="type"]{
  width: 75px;
}

input[name="submit"]{
  background-color: #ea80fc;
  color: #f4f4f4;
}

input[name="question"]{
  background-color: #ea80fc;
  color: #f4f4f4;
}

.section{
  background-color: #e1bee7;
}

#question-div {
  display: none;
}
