.e-inner-elements  {
  background-color: #9c88ff;
  height: 940px;
  background: linear-gradient(to top left,#ba68c8 40%,#ce93d8 90%);
  /* border: 9px solid black; */
}
.db{
  background-color: #ea80fc;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;

}

.n-inner-elements   {
  text-align: center;
  font-size: 30px;
  background-color: #9c88ff;
  height: 895px;
}

.on-events{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* box-shadow: 1px 2px 3px 3px; */
}


.card{
  border: 2px solid black;
  width: 20rem;
  height: 20rem;
  background-color: white;
  color: #ef5777;
}

.card-btn{
  font-size: 30px;
  /* color: white; */
  /* padding: 10px; */
  padding-left: 30px;
  padding-right: 30px;

  /* width: 110px ; */
  /* height: 4rem; */
  /* border: 2px solid red; */
  border-radius: 8px;
  text-decoration: none;
  background-color: #fbc531;
}

.card-btn:hover{
  border-radius: 8px;
  font-size: 39px;
  background-color: #ffd111;
  border: 1px solid purple;
}

.card-body{
  text-align: center;
  font-size: 25px;
}

.upevent-row{
  margin-left: 60px;
  margin-right: 60px;
  /* border: 2px solid red; */
  font-size: 40px;
  background-color: #f1f2f6;
  display: flex;
  justify-content: center;
  color:  #ef5777;

}

.submissions{
  position: relative;
  margin: 0px;
  top: 0px;
  left: 0;
  width: 100%;
}
