.nav-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 1000px; */
  /*border: 2px solid red; */
  background-color: #9b59b6;
  align-items: center;
}

h2,h1,h3{
  color: white;
  /*border: 2px solid red;*/
}

.login:hover{
  text-decoration: none;
  border-bottom: 4px solid white;
}


.register:hover{
  /* background-color: purple; */
  text-decoration: none;
  border-bottom: 4px solid white;
}

.nav-header div{
  flex-grow: 0.2;
  /* border: 1px solid black; */
}

.nav-header div:nth-child(1){
  flex-grow: 6;
}

.nav-link{
  background-color: #9b59b6;

  /*border: 2px solid purple;*/
  color: white;
  height: inherit;
  /*border: 2px solid red; */
  width: 90px;
  /*margin-right: 10px;*/
  justify-content: center;
  text-align: center;
  vertical-align: center;
}


a{
  text-decoration: none;
}

.inner-elements   {
  background-color: #9c88ff;
  position: fixed;
  padding-top: 170px;
  width: 200vh;
  /* margin-top: 30px; */
  /* padding-top: 20px;   */
  /* border: 2px solid red; */
  /* height: 915px; */
  font-size: 30px;
  height: 895px;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.animation-area{
  /* background: linear-gradient(to left, #8942a8, #ba382f); */
  width: 100%;
  height: 100vh;
  /* border: 7px solid black; */
}

.circle-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle-area li{
  position: absolute;
  display: block;
  list-style: none;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  margin-top: 90px;
  bottom: -130px;
  /* border: 7px solid black; */

}

.circle-area li:nth-child(1){
    left: 86%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation-delay: 0s;
    /* border: 7px solid black; */

}

.circle-area li:nth-child(2){0
    left: 16%;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    animation-delay: 1.5s;
    animation-duration: 20s;
}

.circle-area li:nth-child(3){
    left: 45%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    animation-delay: 0.5s;
}

.circle-area li:nth-child(4){
    left: 56%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation-delay: 1s;
    animation-duration: 30s;
}
.circle-area li:nth-child(5){
    left: 26%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation-delay: 0s;
    animation-duration: 17s;
}
.circle-area li:nth-child(6){
    left: 76%;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    animation-delay: 0s;
    animation-duration: 12s;
}

@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;

  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;

  }
}

body {
  position: relative;
  top: 0px;
  margin: 0px;
  /* background: linear-gradient(to top left,#ba68c8 10%,#ce93d8 70%); */

}
