body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  text-align: center;
  font-size: 2em;
}

@media screen and (max-width: 40em) {
    body {
        font-size:90%;
    }
}

@media screen and (max-width: 30em) {
    body {
        font-size:80%;
    }
}


@media screen and (max-width: 50em) {
    h1 {
        font-size:2em;
    }
}

@media screen and (max-width: 40em) {
    h1 {
        font-size:1.5em;
    }
}

@media screen and (max-width: 30em) {
    h1 {
        font-size:1.2em;
    }
}


.nav-header{
  /*background: linear-gradient(#302b63 , #0f0c29);*/
  background-color: #121212;
  /*background: linear-gradient(#302b63 , #0f0c29);*/
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.nav-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /*background-color: #9b59b6;*/
  /*background: linear-gradient(#0f0c29 , #302b63);*/
  background-color: #121212;
}

.nav-header li a {
  color: white;
  font-size: 18px;
  display: block;
  padding: 20px 20px;
  /*border: 1px solid red;*/
  text-decoration: none;
  color: #ffffff;
  outline: none;
}

.nav-header li a:hover,
.nav-header .menu-btn:hover {
  /* background-color: #f4f4f4; */
  border-bottom: 2px solid white;
}


.nav-header .logo {
  display: block;
  float: left;
  margin: 0px;
  padding: 11px 20px;
  text-decoration: none;
  vertical-align: center;
  color: #ffffff;
  /*border:solid red 1px;*/
  font-size: 1em;
}

h2,h1,h3{
  color: white;
  /*border: 2px solid red;*/
}

/* menu */

.nav-header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.nav-header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 25px 20px;
  /*border: solid red 1px;*/
  position: relative;
  user-select: none;
}

.nav-header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.nav-header .menu-icon .navicon:before,
.nav-header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.nav-header .menu-icon .navicon:before {
  top: 5px;
}

.nav-header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.nav-header .menu-btn {
  display: none;
}

.nav-header .menu-btn:checked ~ .menu {
  max-height: inherit;
}

.nav-header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.nav-header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav-header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav-header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .nav-header li {
    float: left;
  }
  .nav-header li a {
    padding: 20px 30px;
  }
  .nav-header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav-header .menu-icon {
    display: none;
  }
}


a{
  text-decoration: none;
}

.inner-elements   {
  background-color: #9c88ff;
  position: fixed;
  padding-top: 170px;
  width: 200vh;
  /* margin-top: 30px; */
  /* padding-top: 20p x;   */
  /* border: 2px solid red; */
  /* height: 915px; */
  font-size: 30px;
  height: 895px;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.animation-area{
  /* background: linear-gradient(to left, #8942a8, #ba382f); */
  width: 100%;
  height: 100vh;
  /* border: 7px solid black; */
}

.circle-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle-area li{
  position: absolute;
  display: block;
  list-style: none;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  margin-top: 90px;
  bottom: -130px;
  /* border: 7px solid black; */

}

.circle-area li:nth-child(1){
    left: 86%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation-delay: 0s;
    /* border: 7px solid black; */

}

.circle-area li:nth-child(2){0
    left: 16%;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    animation-delay: 1.5s;
    animation-duration: 20s;
}

.circle-area li:nth-child(3){
    left: 45%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    animation-delay: 0.5s;
}

.circle-area li:nth-child(4){
    left: 56%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation-delay: 1s;
    animation-duration: 30s;
}
.circle-area li:nth-child(5){
    left: 26%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation-delay: 0s;
    animation-duration: 17s;
}
.circle-area li:nth-child(6){
    left: 76%;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    animation-delay: 0s;
    animation-duration: 12s;
}

@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;

  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;

  }
}

.animation-area{
  /* background: linear-gradient(to left, #8942a8, #ba382f); */
  width: 100%;
  height: 100vh;
  /* border: 7px solid black; */
}

.circle-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle-area li{
  position: absolute;
  display: block;
  list-style: none;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  margin-top: 90px;
  bottom: -130px;
  /* border: 7px solid black; */

}

.circle-area li:nth-child(1){
    left: 86%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation-delay: 0s;
    /* border: 7px solid black; */

}

.circle-area li:nth-child(2){0
    left: 16%;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    animation-delay: 1.5s;
    animation-duration: 20s;
}

.circle-area li:nth-child(3){
    left: 45%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    animation-delay: 0.5s;
}

.circle-area li:nth-child(4){
    left: 56%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation-delay: 1s;
    animation-duration: 30s;
}
.circle-area li:nth-child(5){
    left: 26%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation-delay: 0s;
    animation-duration: 17s;
}
.circle-area li:nth-child(6){
    left: 76%;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    animation-delay: 0s;
    animation-duration: 12s;
}

@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;

  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;

  }
} }
