.user{
  font-size: 20px;
  border-color: #9b59b6;
  margin-top: 20px;
  height: 30px;
  width: 190px;
  background-color: #9b59b6;
}
/* --------------------------------------------------------Common header---------------------------------------------------------------------- */
.nav-header{
  display: flex;
  flex-direction: row;
  /* text-decoration: none; */
  /* width: 1000px; */
  /* border: 2px solid red; */
  background-color: #9b59b6;
  /* justify-content: space-between; */
}

.nav-element{
  text-decoration: none;
}

h2,h1,h3{
  color: white;
}


.nav-header div{
  flex-grow: 0.6;
  /* color: yellow; */
  /* border: 1px solid black; */
}

.nav-header div:nth-child(1){
  flex-grow: 6;
}


/* -----------------------------------------------------For Home---------------------------------------------------------------------------- */

.inner-elements   {
  background-color: #9c88ff;
  /* margin-top: 30px; */
  /* padding-top: 20px;   */
  /* border: 2px solid red; */
  font-size: 30px;
  height: 895px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: 'Droid Serif', serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}


/* header */

.header {
  background-color: #9b59b6;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #9b59b6;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 25px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: inherit;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


/* section */

.section {
  overflow: hidden;
  margin: auto;
  max-width: 1400px;
}

.main {
  position: relative;
  top: 57px;
}