
body {
    font-size: 100%; /* start with a flexible baseline, more on this in the next section */
    /*background: linear-gradient(to bottom left, #0f0c29 40%, #302b63 100%);*/
  /*background-color: #242424;*/
  background-image: linear-gradient(to right,#7f53ac 0,#657ced 100%);
  /*background: linear-gradient(to right,#ba68c8 40%, #ce93d8 80%);*/
  margin: 0;
  font-family: 'Droid Serif', serif;
  /*background-color: #f4f4f4;*/
  /* border: 2px solid red; */
}


@media screen and (max-width: 10em) {
    body {
      display: flex;
      flex-direction: column;
        font-size:10%;
    }

    .circle-area{
      display: none;
    }

}
@media screen and (max-width: 40em) {
    body {
      display: flex;
      flex-direction: column;
        font-size:90%;
    }

    .circle-area{
      display: none;
    }

}

@media screen and (max-width: 30em) {
    body {
        font-size:80%;
    }
}


@media screen and (max-width: 50em) {
    h1 {
        font-size:2em;
    }
}

@media screen and (max-width: 40em) {
    h1 {
        font-size:1.5em;
    }
}

@media screen and (max-width: 30em) {
    h1 {
        font-size:1.2em;
    }
}



.user{
  font-size: 20px;
  border-color: #9b59b6;
  margin-top: 20px;
  height: 30px;
  width: 190px;
  background-color: #9b59b6;
}
/* --------------------------------------------------------Common header---------------------------------------------------------------------- */
.nav-header{
  display: flex;
  flex-direction: row;
  /* text-decoration: none; */
  /* width: 1000px; */
  /* border: 2px solid red; */
  background-color: #9b59b6;
  /* justify-content: space-between; */
}

.nav-element{
  text-decoration: none;
}

h2,h1,h3{
  color: white;
}


.nav-header div{
  flex-grow: 0.6;
  /* color: yellow; */
  /* border: 1px solid black; */
}

.nav-header div:nth-child(1){
  flex-grow: 6;
}

#create-nav-btn{
  display: none;
}

/* -----------------------------------------------------For Home---------------------------------------------------------------------------- */

.inner-elements   {
  /*background-color: #9c88ff;*/
  margin-top: 50px;
  /* background-color: #9c88ff; */
  /* margin-top: 30px; */
  /* padding-top: 20px;   */
  /* border: 9px solid red; */
  font-size: 30px;
  height: 1110px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /* background: linear-gradient(to bottom right,#ba68c8 40%, #ce93d8 80%); */
}

.animation-area{
  /* background: linear-gradient(to left, #8942a8, #ba382f); */
  width: 100%;
  height: 100vh;
  /* border: 7px solid black; */
}

.circle-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle-area li{
  position: absolute;
  display: block;
  list-style: none;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  margin-top: 90px;
  bottom: -130px;
  /* border: 7px solid black; */

}

.circle-area li:nth-child(1){
    left: 86%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation-delay: 0s;
    /* border: 7px solid black; */

}

.circle-area li:nth-child(2){0
    left: 16%;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    animation-delay: 1.5s;
    animation-duration: 60s;
}

.circle-area li:nth-child(3){
    left: 45%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    animation-delay: 0.5s;
}

.circle-area li:nth-child(4){
    left: 56%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation-delay: 1s;
    animation-duration: 50s;
}
.circle-area li:nth-child(5){
    left: 26%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation-delay: 0s;
    animation-duration: 57s;
}
.circle-area li:nth-child(6){
    left: 76%;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    animation-delay: 0s;
    animation-duration: 32s;
}

@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;

  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;

  }
}

a {
  color: #000;
  outline: none;
}


/* header */

.header {
  /*background: linear-gradient(#302b63 , #0f0c29);*/
  background-color: #121212;
  /*background: linear-gradient(#302b63 , #0f0c29);*/
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /*background-color: #9b59b6;*/
  /*background: linear-gradient(#0f0c29 , #302b63);*/
  background-color: #121212;
}

.header li a {
  color: white;
  font-size: 18px;
  display: block;
  padding: 20px 20px;
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
  color: #ffffff;
}

.header li a:hover,
.header .menu-btn:hover {
  /* background-color: #f4f4f4; */
  border-bottom: 2px solid white;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  margin: 0px;
  padding: 11px 20px;
  text-decoration: none;
  vertical-align: center;
  color: #ffffff;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 25px 20px;
  /*border: solid red 1px;*/
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: inherit;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 50em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


/* section */

.section {
  overflow: hidden;
  margin: auto;
  /* max-width: 1400px; */
  /* border: 2px solid red; */

  /* background-color: #995996; */
  width: 100%;

}

.main {
  position: relative;
  top: 63px;
  /* border: 2px solid red; */
  /*left: 0;*/
  /* height: 915px; */
  width: 100%;
  /*max-height: 100%;*/
}

.animation-area{
  /* background: linear-gradient(to left, #8942a8, #ba382f); */
  width: 100%;
  height: 100vh;
  /* border: 7px solid black; */
}

.circle-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle-area li{
  position: absolute;
  display: block;
  list-style: none;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  margin-top: 90px;
  bottom: -130px;
  /* border: 7px solid black; */

}

.circle-area li:nth-child(1){
    left: 86%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    animation-delay: 0s;
    /* border: 7px solid black; */

}

.circle-area li:nth-child(2){
    left: 16%;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    animation-delay: 1.5s;
    animation-duration: 20s;
}

.circle-area li:nth-child(3){
    left: 45%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    animation-delay: 0.5s;
}

.circle-area li:nth-child(4){
    left: 56%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation-delay: 1s;
    animation-duration: 30s;
}
.circle-area li:nth-child(5){
    left: 26%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation-delay: 0s;
    animation-duration: 17s;
}
.circle-area li:nth-child(6){
    left: 76%;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    animation-delay: 0s;
    animation-duration: 12s;
}

@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;

  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;

  }
} }
